* {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 767px) {
    * {
        font-size: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
}

.transaction-container {
    width: 65%;
    padding: 6px;
    margin: 0.6rem;
}

@media only screen and (max-width: 767px) {
    .transaction-container {
        width: 100%;
        border: 1px solid #ccc;
    }
}

.text-heading {
    font-size: 3rem !important;
    margin: 0;
    padding: 0.5rem 1rem;
}

.form-container {
    width: 60%;
    box-shadow: 3px 2px 5px 2px #ccc;
    padding: 12px 6px;
}

@media only screen and (max-width: 767px) {
    .form-container {
        width: 100%;
    }
}

.form-group {
    height: 3rem;
    display: inline-flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.form-group > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form-group img {
    width: 15%;
    color: #2274A5;
}

.form-group select {
    width: 75%;
    padding: 0 8px;
    color: #777;
    font-size: 14px;
    border: 1px solid #2274A5;
    background-color: #fff;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='navy' height='40' viewBox='0 0 30 30' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.5rem;
}

.form-group select:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .form-group select {
        font-size: 12px;
        background-position-y: 0rem;
    }
}

.form-group:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3.5rem;
    margin-bottom: 0;
}

.form-group button {
    padding: 4px 12px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    background: #2274A5;
    background: linear-gradient(90deg, #2274A5 25%, #E51A4B 80%, #E51A4B 100%);
    border: none;
}

.form-group button:hover {
    cursor: pointer;
}

small {
    font-size: 12px;
}

@media only screen and (max-width: 767px) {
    small {
        font-size: 8px;
    }
}

.table-container {
    width: 100%;
    display: grid;
    overflow: auto;
}

.table-container table {
    margin-top: 2rem;
    border-spacing: 0;
}

@media only screen and (max-width: 767px) {
    .table-container #table1 {
        order: 2;
        font-weight: bold;
    }
    .table-container #table2 {
        order: 1;
        font-weight: bold;
    }
}

.table-container table thead {
    background-color: #2274A5;
    background: linear-gradient(90deg, #2274A5 25%, #E51A4B 80%, #E51A4B 100%);
    color: #fff;
}

.table-container table thead th {
    padding: 5px 0 !important;
}

.table-container table thead th:first-of-type{
    overflow: auto;
    perspective: 1px;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    -moz-border-radius-top-left: 20px;
    -moz-border-radius-bottom-left: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}

.table-container table thead th:last-of-type{
    overflow: auto;
    perspective: 1px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    -moz-border-radius-top-right: 20px;
    -moz-border-radius-bottom-right: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
}

.table-container table tbody tr {
    box-shadow: 3px 2px 5px 2px #ccc;
    overflow: auto;
    perspective: 1px;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    margin: 10px 0;
    padding: 2.5rem 2rem;
    text-align: center;
}

.table-container table thead .bold-sm {
    font-size: 12px;
    font-weight: bold;
}

.table-container table tbody tr .bold-sm {
    font-size: 12px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .table-container table tbody tr .bold-sm {
        font-size: 10px;
        font-weight: bold;
    } 
}

@media only screen and (max-width: 767px) {
    .table-container table tbody tr .bold-xs {
        font-size: 8px;
        font-weight: bold;
    }

    .table-container table thead .bold-xs {
        font-size: 8px;
        font-weight: bold;
    }
}

.table-container table tbody tr td {
    white-space: nowrap;
    padding: 5px 0 !important;
}

.table-container table tr td[data-rel='colored-blue'] {
    background-color: #2274A5;
    border-radius: 20px;
    color: #fff;
    padding: 0 1px !important;
    margin: 0 0.5rem !important;
} 

.table-container table tr td[data-rel='colored-red'] {
    background-color: #E51A4B;
    border-radius: 20px;
    color: #fff;
    padding: 0 2px !important;
    margin: 3px 0;
}


.base-container {
    display: none;
    box-shadow: 3px 2px 5px 2px #ccc;
    padding: 1.5rem;
    margin: 2rem 0.5rem;
}

.base-container h4 {
    margin: 0;
    padding: 0;
}

.base-container ol {
    margin: 0.3rem 0;
    padding-left: 1rem;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .base-container {
        display: block;
    }
}